<h3>Create product</h3>


<form name="createAssessmentForm" ng-submit="createAssessment.formSubmit()" novalidate>
    <div>


        <input type="text" ng-model="createAssessment.assessment.title" name="title" placeholder="title" ng-required="true" />
        <input type="text" ng-model="createAssessment.assessment.startCode" name="startCode" placeholder="startCode" ng-required="true" />
        <input type="text" ng-model="createAssessment.assessment.instructions" name="instructions" placeholder="instructions" ng-required="true" />

<!--
        <input type="text" ng-pattern="/^[a-zA-Z0-9]$/" ng-model="createAssessment.assessment.title" name="title" placeholder="title" ng-required="true" />
        <input type="text" ng-pattern="/^[a-zA-Z0-9]$/" ng-model="createAssessment.assessment.startCode" name="startCode" placeholder="startCode" ng-required="true" />
        <input type="text" ng-pattern="/^[a-zA-Z0-9]$/" ng-model="createAssessment.assessment.instructions" name="instructions" placeholder="instructions" ng-required="true" />
-->

<!--        <div ng-messages="createAssessmentForm.title.$error">
            <div ng-message="required" ng-if="!createAssessmentForm.$pristine">
                title is required
            </div>
            <div ng-message="pattern">
                title must contain only letters or number
            </div>
        </div>-->
    </div>

    <div>
        <button type="reset" ng-disabled="createAssessmentForm.$pristine">Reset</button>
        <button type="submit" ng-disabled="!createAssessmentForm.$valid">Register</button>
        <button type="submit" >Register without valid</button>
    </div>
</form>




